@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

.simplebar-scrollbar::before {
  background-color: #c4c4c4 !important;
}
.react-datetime-picker__wrapper {
  border: none !important;
}
